# Keep Drupal.org/release archives focused on installable module code.
/.gitattributes export-ignore
/.gitignore export-ignore
/.env export-ignore
/.env.* export-ignore
/.github export-ignore
/.idea export-ignore
/.phpunit.cache export-ignore
/composer.lock export-ignore
/vendor export-ignore
