<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="false"
         failOnRisky="true"
         failOnWarning="true"
         failOnPhpunitWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value=""/>
    <env name="SIMPLETEST_DB" value=""/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value=""/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <env name="MINK_DRIVER_CLASS" value=""/>
    <env name="MINK_DRIVER_ARGS" value=""/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value=""/>
  </php>
  <testsuites>
    <testsuite name="hear_me_unit">
      <directory>tests/src/Unit</directory>
    </testsuite>
    <testsuite name="hear_me_kernel">
      <directory>tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="hear_me_functional">
      <directory>tests/src/Functional</directory>
    </testsuite>
  </testsuites>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>src</directory>
      <file>hear_me.install</file>
      <file>hear_me.module</file>
    </include>
    <exclude>
      <directory>tests</directory>
      <directory>vendor</directory>
    </exclude>
  </source>
</phpunit>
